<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stays</title>
</head>
<% layout("/layouts/boilerplate") %>

<body>
    <div class="row">
        <div class="col-8 offset-2">
    <h3>Create new Listing !</h3>
    <br><br>
    <form action="/listings" method="POST" novalidate class="needs-validation" enctype="multipart/form-data">
        <div class="mb-3">
            <label for="title" class="form-label">Title</label>
            <input 
                name="listing[title]" 
                placeholder="Enter title"
                type="text" 
                class="form-control"
                required
                 />
                <div  class="valid-feedback">
                   Title looks good !
                </div>
        </div>

        <div class="mb-3">
            <label for="description" class="form-label">description</label>
            <textarea class="form-control" name="listing[description]" placeholder="Enter description" type="text" required></textarea>
            <div  class="invalid-feedback">
                Please enter short description
             </div>
        </div>
    
        <!-- <div class="mb-3">
            <label for="image" class="form-label">Image Link</label>
            <input 
            class="form-control" 
            id="image"
            name="listing[image][url]" 
            placeholder="Enter image URL" 
            type="text"
           
        >   
        </div> -->
        <div class="mb-3">
            <label for="image" class="form-label">Upload Listing Image</label>
            <input 
            class="form-control" 
            id="image"
            name="listing[image]" 
          required
            type="file"
           
        >   
        </div>
        <div class="row">
            <div class="mb-3 col-md-4">
                <label for="price" class="form-label" >price</label>
                <input class="form-control" name="listing[price]" placeholder="Enter price" required type="number">
                <div  class="invalid-feedback">
                    Price should be valid !
                 </div>
            </div> 
            <div class="mb-3 col-md-8">
                <label for="country" class="form-label">country</label>
                <input class="form-control" name="listing[country]" placeholder="Enter country" required type="text">
                <div  class="invalid-feedback">
                    country should be valid !
                 </div>
            </div>
          
         </div>
      
        <div class="mb-3">
            <label for="location" class="form-label">location</label>
            <input class="form-control" name="listing[location]" placeholder="Enter location" required type="text">
            <div  class="invalid-feedback">
                location should be valid !
             </div>
        </div>
        <button class="btn btn-dark add-btn">Save</button>
    </form>
    <br>
    <br>
</div>
</div>
</body>
</html>